/*
 * Global
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.name {
	font-family: 'Lovers Quarrel', cursive;
	font-size: 100px;
	text-align: center;
	background-image: url(/images/appleblossomRouge.jpg);
	background-position: center center;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 400px;
}

html {
	font-size: 16px;
	image-orientation: center;
}
@media (min-width:768px) {
	html {
		font-size: 20px;

	}
}



.nav {
	text-align: center;
}

.individual-post{
	text-align: center;

}
.Bloc-Jams-Box{
	display: block;
}


.blocjams-link {
	text-align: center;
	color: rgb(88, 206, 202);
}
.blocjams-link:hover {
	color: rgb(150, 100, 150);
}

.bloc-jams-screenshot {
	position: relative;
	left: 25%;
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 50%;
}

.Bloc-Jams-block {
	width: 50%;
	text-align: center;
}

body {
	font-size: 1em;
	line-height: 1.35;
	font-family: Helvetica, sans-serif;
  margin-top: 40px;
  margin-bottom: 80px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}



img {
	position: relative;
	left: 25%;
	margin-top: 1rem;
	width: 50%;
}

/*
 * The Grid
 */

.container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1130px;
  margin-right: auto;
  margin-left: auto;
	background-color: rgb(231, 215, 236);
}

/*
 * Typography
 */

.name {
	color : #8F7D94;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
}
h1 {
	margin-top: 0px;
  font-size: 1.3rem;
}
h2 {
  font-size: 1.1rem;
}
a {
	color: #808080;
}
ol li,
ul li {
  margin-top: 0px;
	margin-bottom: .75rem;
}
blockquote {
  border-left: none;
  font-size: .9rem;
  line-height: 1.35;
  padding-left: .75rem;
  padding-right: .75rem;
}
hr {
	border-top: 2px solid #E7E7E7;
	border-bottom: none;
	border-left: none;
	margin-top: 40px;
	margin-bottom: 40px;
}

/*
 * Navigation
 */

.nav {
  margin-bottom: 40px;
}
.nav a {
	text-decoration: none;
}
.nav ul {
	list-style: none;
	padding-left: 0;
}
.nav ul li {
	margin-right: 20px;
	display: inline-block;
}
