<head>
	<ul>
		<li><a href="/">{{ site.title }}</a></li>
		{% for page in site.pages %}
		<li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
	</ul>
  <head>
	<section>
		<section class="case-study-blocJams">
		<h2 class="title">Summary </h2>
      <p>
        Individuals are always wanting to have the best for less.
        They want the best experience without the hassles.
        Bloc Jams is a digital music player that was created in response to that need,
        to listen to the music you want, instead of listening to someone else’s
        music choice.
      </p>
      <p>
        Bloc Jams is an application that you can use to play, pause, skip a song,
        play the previous song, change the volume using Javascript and JQuery,
        then was updated using Angular.
      </p>

			</div>
		</section>

	</section>
