<body>
  <h1 style="text-align:center"> Portfolio <h1>
      <main class="Bloc-Jams-Box container narrow clearfix">

            <img src="/images/blocjams_3.png" class="bloc-jams-screenshot">
              <div class="Bloc-Jams-title"  style="text-align:center">
              <a href="_layouts/post.html" class="blocjams-link">  BlocJams </a>
              </div>
              <div class="Bloc-Jams-block container narrow">
                  <h3>Bloc Jams is a music player website and app</h3>
              </div>

      </main>
</body>
