---
title: Bloc Chat Case Study
my_variable: /_layouts/newpost.html
---
<body>
	<section class="case-study-blocJams container">
    <h2 style="text-align:center">Bloc Chat Case Study</h2>
		<h2 class="title">Summary </h2>
       <p>Bloc Chat is a real-time Chat application which was built using Firebase
          JavaScript, AngularFire, CSS, GIT, HTML and Atom Editor.
      </p>
    <h2 class="title">Explanation </h2>
    	<p>Bloc Chat is for the simple user in mind with no strings-attached and ad-free.
         Every user, my self included, we look for a convenient way to chat,
         user-friendly, with not to many distractions, and bloc chat is just that.
         Although it is still a work in process, I feel that bloc chat needs to be
         just “simple” but inviting.
      </p>
    <h2 class="title">Problem </h2>
      <p>As we started with Bloc Chat there were different needs that needed to be met:
      <ul>
        <li>A user wants to be able to create a new chat room</li>
        <li>A user would like to add messages in a chat room</li>
        <li>A user would like to add messages in a chat room</li>
        <li>The user name needs to be saved</li>
        <li>New messages are associated with no chat rooms other than the active chat room</li>
      </ul>
      </p>
    <h2 class="title">Solution</h2>
    <p>First, we created the basic test rooms in Firebase, then we created a Room Factory
      Factory in Angular that defined all the Room related API queries extracting all
      the rooms previously created in Firebase. AngularFire was used to coding Bloc Chat,
      which is somewhat simpler than others.
      <div class="column half">
        <img src="/images/BlocChatCodeReady.png">
      </div>
    </p>
    <p>As a user enters the application he/she has the ability to create a room as well as
    to visit each chat room before deciding if is the correct chat they want to spend time at.
    . Once a user browses thru the bloc chat application and decides they want to start chatting
    (adding messages) then the user will be required to enter a user name.
    </p>
    <p>
      One of the problems that I encountered was that after the user entered his user name,
      that user name needed to be saved in order that when he changed rooms the same user name
      will remain in each chat room he enters, this was solved by saving the user name
      to the appropriate cookie, therefore, completing the first part of Bloc Chat.
      <div class="column half">
        <img src="/images/BlocChatReady.png">
      </div>
    </p>
