---
layout: default
---
<body>
		<section class="case-study-blocJams container">
      <h2 style="text-align:center">Bloc Jams Case Study</h2>
		    <h2 class="title">Summary </h2>
          <p>
            Individuals are always wanting to have the best for less.
            They want the best experience without the hassles.
            Bloc Jams is a digital music player that was created in response to that need,
            to listen to the music you want, instead of listening to someone else’s
            music choice.
          </p>
          <p>
            Bloc Jams is an application that you can use to play, pause, skip a song,
            play the previous song, change the volume using Javascript, JQuery, CSS, HTML,GIT
            and Atom Editor, eventually we refractored our code using Angular.
          </p>

			  <h2 class="title">Explanation </h2>
			    <p>
				     Bloc Jams was my first project as part of my learning while becoming a Web Developer.
				     With the help of my mentor Kevin McGillivray, Bloc Jams was started.
			    </p>
			    <p>
				     As you can see on the picture below, the vibrant colors of the page
				     are very inviting and lifts your mood. This was just the beginning of a
				     beautiful webpage.
			    </p>
          <main class="first-picture container narrow">
            <section class="clearfix">
              <div class="column half">
                  <img src="/images/navbar_styled-ready.png">
              </div>
            </section>
          </main>
      <h2 class="title">Problem </h2>
			   <p>
           In the process of building Bloc Jams, I encountered issues as any student would,
           trying to get things to work, while not messing the ones that were already working,
           was always a stressful task. But Always trying to pay attention to detail,
           since just a simple dot (“.”) would make the page not work.
           The old proverb, “the devil is in the details” is true.
         </p>
			   <p>
           As users are exposed to more sites they become more demanding, expecting the webpages
           they visit to be 100% user-friendly, therefore, Bloc Jams still has a few issues
           that needs to be worked on for example the navigation bar needs to be
           able to select the navigation pages (landing, collection, and album).
         </p>
			   <p>  Some of the needs of the users, when we are talking about a digital music player,
           were to be able to perform the following tasks:
            <ul>
              <li>Skip songs</li>
              <li>Play songs</li>
              <li>Pause songs</li>
              <li>Change the volume of the song</li>
              <li>Mute the song</li>
              <li>To be mobile enabled</li>
              <li>Ad-free</li>
              <li>To be able to choose your own music</li>
            </ul>
          </p>
          <h2 class="title">Solution</h2>
			      <p>
              The first page of Bloc Jams, gives an answer to the needs of the users.
              It tells you what the music player is about, you choose your music,
              you get Unlimited, streaming, ad-free music, and is mobile enabled,
              therefore meeting some of the needs previously mentioned.
            </p>
            <div class="column half">
              <img src="/images/HomeBlocJamsReady.png">
            </div>
            <p>
              As you go to the navigation bar located at the top right hand-side of the page,
              called “COLLECTION”, once it’s clicked,  it will take you to the collection
              page where you can select an album to be played.
            </p>
            <div class="column half">
              <img src="/images/collectionReady.png">
            </div>
            <p>
              Once the album opens, you can view all the songs that pertain to that album,
              the songs are numbered and you can click to play the song,
              and pause directly from each song, or you can navigate to the bottom
              of the page to the player bar where you can pause, play, skip forward,
              skip backwards, view the length time of the song that is currently playing,
              as well as to be able to change the volume.
            </p>
            <div class="column half">
              <img src="/images/album3Ready.png">
            </div>
            <p>
              The completion of Bloc Jams was very rewarding, please take a look at it for your-self.
            </p>

		</section>
</body>
